{% extends "tematy/base.html" %}

{% block page_header %}
<h1>Skontaktuj się ze mną</h1>
{% endblock page_header %}

{% block content %}
<body>

<section>
    <h4>Informacje kontaktowe</h4>
    <p>Jeżeli masz jakieś pytania odnośnie projektu, nie krępuj się napisać do mnie:</p>
    <address>
        Email: <a href="wrx75849@student.wroclaw.merito.pl">Napisz do mnie</a><br>
        Github: <a href="https://github.com/RadoslawCin">Sprawdź mojego Githuba</a><br>
    </address>
</section>

<footer>
    <p>&copy; 2024 Contact Us. All rights reserved.</p>
</footer>

</body>

{% endblock content %}