{% extends "tematy/base.html" %}

{% block page_header %}
<h1>Polityka Prywatności</h1>
{% endblock page_header %}

{% block content %}
<body>
<section>
    <h4>1. Informacje ogólne</h4>
    <p>Szanujemy prywatność użytkowników.
        Niniejsza polityka prywatności określa, w jaki sposób
        gromadzimy, używamy, udostępniamy i chronimy Twoje dane
        osobowe podczas korzystania z naszej witryny.</p>
</section>

<section>
    <h4>2. Rodzaje zbieranych danych</h4>
    <p>Opis rodzajów danych, jakie zbieramy...</p>
</section>

<section>
    <h4>3. Cel zbierania danych</h4>
    <p>Opis celów, dla których zbieramy dane...</p>
</section>

<section>
    <h4>4. Udostępnianie danych osobom trzecim</h4>
    <p>Informacje o tym, czy i jakie dane udostępniamy osobom trzecim...</p>
</section>

<section>
    <h4>5. Pliki cookie</h4>
    <p>Informacje o plikach cookie i ich wykorzystaniu...</p>
</section>

<section>
    <h4>6. Bezpieczeństwo danych</h4>
    <p>Opis środków bezpieczeństwa danych osobowych...</p>
</section>

<section>
    <h4>7. Twoje prawa</h4>
    <p>Informacje o prawach użytkownika związanych z danymi osobowymi...</p>
</section>


</body>

{% endblock content %}